body{
    font-family: "微软雅黑 Regular", "微软雅黑", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #333333;
    overflow-y: hidden;
    overflow-x: visible;
}
.subTitle{
    font-size: 13px;
    font-style: normal;
    color: #999999;
}

.column{
    padding-left:0;
    padding-right: 0;
}

.fa-color{
    color: #1cae99
}

.float-right{
    float: right;
    text-align: right;
}

.display-flex{
    display: inline-flex;
}

.transparent-btn {
    display: inline-block;
    margin: 4px 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4285;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
}



.type-group{
    font-size: 13px;
    font-style: normal;
    color: #999999;
    display: block;
    float: right;
}
.type-div{
    width: 75px;
    height:35px;
    padding-top:10px;
    text-align: center;
    float: right;
}
/*, .type-div:hover, :active*/
.type-group>div.active{
    background: inherit;
    background-color: #d7d7d7;
    border: none;
    border-radius: 2px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}



.projList{ padding-top: 20px;}
.projList .divider {
    height: 1px;
    margin-top: 9px;
    overflow: hidden;
    background-color: #e5e5e5;
}
.projList:hover,.projList:active{background-color: #d7d7d7;}


.projInfo-left{width: 165px;}
.projInfo-center{width: calc(100% - 300px);}
.projInfo-right{width: 135px;}









