body{
    font-family: "微软雅黑 Regular", "微软雅黑";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #333333;
    overflow-y: hidden;
    overflow-x: visible;
}

.column{
    padding-left:0px;
    padding-right: 0px;
}

/*按钮样式*/
.transparent-btn {
    display: inline-block;
    margin: 4px 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4285;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
}
/*靠右对齐按钮*/
.btn-group-right{
    margin: 0px 15px;
    float: right;
    text-align: right;
}

/*页签样式*/
.top-tabs{
    border-bottom:0;
}
.top-tabs>li>a{color: #999999;}
.top-tabs>li>a:hover{border-color:#eee}
.top-tabs>li>a:focus, .top-tabs > li > a:hover {
    text-decoration: none;
    background-color: #fff;
}
.top-tabs > li.active > a, .top-tabs > li.active > a:focus, .top-tabs > li.active > a:hover {
    font-size: 16px;
    color: #333333;
    cursor: default;
    background-color: #fff;
    border: 0;
    border-bottom-color: transparent;
}