body {
    font-family: "微软雅黑 Regular", "微软雅黑", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #333333;
    overflow-y: hidden;
    overflow-x: visible;
}

.subTitle {
    font-size: 13px;
    font-style: normal;
    color: #999999;
}

.column {
    padding-left: 0;
    padding-right: 0;
}

.fa-color {
    color: #1cae99
}

.float-right {
    float: right;
    text-align: right;
}

.display-flex {
    display: inline-flex;
}

.color-blue {
    background-color: #5BC0DE;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #5BC0DE;
}

.tableTitle {
    width: 140px;
    text-align: center;
    color: #ffffff;
    background-color: #5BC0DE;
}

.fieldLabel {
    background-color: #F2F2F2;
    font-size: 13px;
    text-align: right;
    width: 140px;
}

.request > span {
    color: #ff0000
}

.stepPageBtn {
    position: absolute;
    /*top: -15px;*/
    width: 30px;
    height: 65px;
    padding-top: 6px;
    font-size: 20px;
    color: #999999;
    text-align: center;
    /*line-height: 3.4;*/
    background-color: #ffffff;
}

.page-left {
    left: 5px;
    width: 40px;
    height: 40px;
    background-image: url("../../img/step_scroll.png");
}

.page-right {
    right: 5px;
    width: 40px;
    height: 40px;
    background-image: url("../../img/step_scroll.png");
}

/*.stepPageBtn:hover{border: 1px solid #dddddd;background-color: #f1f1f1;}*/

.page-right.stepPageBtn:active{
    padding-left: 10px;
}
.page-left.stepPageBtn:active{
    padding-right: 10px;
}
.horizontal-divider {
    position: relative;
    top: 18px;
    height: 2px;
    width: calc(100% - 30px);
    margin: 0 15px;
    overflow: hidden;
    background-color: #5BC0DE;
    z-index: -1;
}

.step {
    padding: 0 10px;
}

.step-div {
    margin: 0 20px 10px 10px;
    height: 80px;
}

.step-title-div {
    margin-left: 30px;
    margin-bottom: 20px;
    width: 85px;
    height: 32px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border: 2px solid rgba(91, 192, 222, 1);
    border-radius: 15px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: "微软雅黑 Regular", "微软雅黑", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    text-align: center;
    padding: 6px 0;
}

.step-date-div {
    width: 120px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border: 1px solid rgba(204, 204, 204, 1);
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: "微软雅黑 Regular", "微软雅黑", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.step-horizontal-divider {
    position: relative;
    top: 64px;
    height: 1px;
    /*width: 10px;*/
    width: 20px;
    margin-left: -20px;
    overflow: hidden;
    background-color: #e5e5e5;
}

.step-vertical-divider {
    width: 1px;
    margin: 17px 0 25px -1px;
    overflow: hidden;
    background-color: #e5e5e5;
}








