html {
    min-width: 1000px;
    overflow-x: auto;
    overflow-y: auto;
}

.no-border {
    border: none;
    box-shadow: none;
}

.two-line {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.one-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-line {
    margin-top: 10px;
}

.tab-pane label {
    font-weight: normal;
    margin-top: 8px;
    margin-bottom: 0;
    margin-right: 5px;
}

.input-number {
    width: 40px;
    height: 28px;
}

.badge-notify {
    position: absolute;
    top: -4px;
    right: 16px;
    z-index: 3;
    cursor: pointer;
}

.nav-step {
    min-width: 770px;
}

.test {
    /*width: 100%;*/
    /*overflow-x: auto;*/
    /*overflow-y: auto;*/
}

.nav-step > li {
    height: 40px;
    position: relative;
    top:21px;
}

.nav-step > li > a {
    position: relative;
    border: 2px solid rgba(91, 192, 222, 1);
    border-radius: 25px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    padding: 5px 10px 5px 10px;
    z-index: 2;
    width: 80px;
    height: 34px;
    text-align: center;
}

.nav-step > li > a.last {
    margin-right: 0px;
}

.nav-step > li > a > p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-step > li.active > a, .nav-step > li.active > a:focus, .nav-step > li.active > a:hover {
    background-color: rgba(91, 192, 222, 1);
}

.nav-step > li > .add-step {
    border: 1px dashed #999999;
    color: #999999;
}

.nav-step > li > .add-step:hover, .nav-step > li > .add-step:visited, .nav-step > li > .add-step:focus {
    background-color: white;
}

.tab-step {
    position: relative;
    padding-top: 50px;
    padding-bottom: 15px;
    border-top: 2px solid rgba(91, 192, 222, 1);
    background-color: rgba(228, 245, 250, 1);
}

.tab-pane {
    margin-left: 20px;
    margin-right: 20px;
}

.panel-body {

}

.flex-container {
    display: flex;
}

.flex-left {
    flex: none;
}

.flex-right {
    flex: 1;
}

.white {
    background-color: white;
}

.flex-checkbox {
    margin-top: 17px;
    margin-right: 10px;
}

.step-li-edit > p, .step-li-show > input {
    display: none;
}

.step-li-edit > input, .step-li-show > p {
    display: block;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s ease-out;
}

.fade-enter, .fade-leave-active {
    opacity: 0;
}

.list-group-item {
    width: 95%;
    margin-bottom: 30px;
    padding-bottom: 20px;
    height: 80px;
    background-color: #f2f2f2;
    color: #999999;
}

a.list-group-item:focus, a.list-group-item:hover {
    background-color: #e4f5fa;
}

a.router-link-active {
    background-color: #e4f5fa;
}

.list-group-item-heading {
    font-size: 16px;
}

a.router-link-active > .list-group-item-heading {
    font-weight: bold;
}

.template-nav {
    height: 90vh;
    overflow-x: auto;
    overflow-y: auto;
}

.default-template {
    background-image: url('/statics/img/template_default.png');
    position: relative;
    top: -50px;
    float: right;
    z-index: 3;
    cursor: pointer;
    height: 34px;
    width: 34px;
    text-align: center;
    line-height: 34px;
    color: #ffffff;
}

.set-default-template {
    background-image: url('/statics/img/template_set_default.png');
    position: relative;
    float: right;
    top: -50px;
    z-index: 3;
    cursor: pointer;
    height: 34px;
    width: 34px;
    text-align: center;
    line-height: 17px;
    color: #ffffff;
    font-size: 12px;
}

.set-default-template:hover {
    color: #999999;
}

.step-scroll-left{
    width: 40px;
    height: 40px;
    background-image: url("/statics/img/step_scroll.png");
    position: absolute;
    z-index: 4;
    left: 0;
    margin-top:21px ;
}

.step-scroll-left>img {
    margin-left: 10px;
    margin-top: 6px;
    cursor: pointer;
}

.step-scroll-left>img:active {
    margin-left: 8px;
    margin-top: 6px;
    cursor: pointer;
}


.step-scroll-right{
    width: 40px;
    height: 40px;
    background-image: url("/statics/img/step_scroll.png");
    position: absolute;
    z-index: 4;
    right: 0;
    margin-top:21px ;
}

.step-scroll-right>img {
    margin-left: 11px;
    margin-top: 6px;
    cursor: pointer;
}

.step-scroll-right>img:active {
    margin-left: 13px;
    margin-top: 6px;
    cursor: pointer;
}

.button-confirm {
    width: 108px;
    background-color: #5bc0de;
    border: none;
    color: white;
    font-weight: 400;
    padding: 5px;
    height: 35px;
}

.button-cancel {
    background:none;
    color: #999999;
    width: 108px;
    border: none;
    font-weight: 400;
    padding: 5px;
    height: 35px;
}

.is-danger{
    color: #a94442;
}

.attach{
    height: 75px;
}
