html{
    min-width: 1000px;
    overflow-x: auto;
    overflow-y: auto;
}

.no-border{
    border:none;
    box-shadow: none;
}

.two-line{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.one-line{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-line{
    margin-top: 10px;
}

.tab-pane label{
    font-weight:normal;
    margin-top: 8px;
    margin-bottom: 0;
    margin-right:5px ;
}

.input-number{
    width:40px;
    height: 28px;
}

.badge-notify{
    position:relative;
    top: -9px;
    left: 53%;
    z-index: 3;
    cursor: pointer;
}
.nav-step{
    margin-left: 20px;
    margin-right: 20px;

}
.nav-step>li{
    height: 46px;
}
.nav-step>li>a{
    position:relative;
    top: -24px;
    border:2px solid rgba(91, 192, 222, 1);
    border-radius:25px;
    margin-right:50px ;
    background-color:white;
    padding: 5px 10px 5px 10px;
    z-index: 2;
    width: 80px;
    height: 34px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nav-step>li.active>a, .nav-step>li.active>a:focus, .nav-step>li.active>a:hover{
    background-color: rgba(91, 192, 222, 1);
}

.nav-step>li>.add-step{
    border: 1px dashed #999999;
    color: #999999;
}

.nav-step>li>.add-step:hover,.nav-step>li>.add-step:visited, .nav-step>li>.add-step:focus{
    background-color: white;
}




.tab-step{
    position:relative;
    top:-31px;
    padding-top: 50px;
    padding-bottom: 15px;
    border-top: 2px solid rgba(91, 192, 222, 1);
    background-color: rgba(228, 245, 250, 1);
}

.tab-pane{
    margin-left:20px;
    margin-right: 20px;
}

.panel-body{
    margin-top: 15px;
}

.flex-container { display: flex ;}
.flex-left { flex: none; }
.flex-right { flex: 1 ;}

.flex-checkbox{
    margin-top: 20px;
    margin-right: 10px;
}
