body{
    font-family: "微软雅黑 Regular", "微软雅黑", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #333333;
    overflow-y: hidden;
    overflow-x: visible;
}

.column{
    padding-left:0;
    padding-right: 0;
}

.fa-color{
    color: #1cae99
}

.font-red{
    color: #d9534f;
}

.float-right{
    float: right;
    text-align: right;
}

.display-flex{
    display: inline-flex;
}
.datePicker{
    width: 120px;
    background-color: #fff;
    border: 1px solid #ccc;
    height: 30px;
    vertical-align: middle;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 4px 6px;
}

/*按钮样式*/
.transparent-btn {
    display: inline-block;
    margin: 4px 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4285;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-triangle-gray{
    width:0;
    height:0;
    border-width:10px;
    border-color:transparent transparent transparent #e3e3e3;
    font-size:0;
    line-height:0;
    border-style:solid dashed dashed;
    display: inline-block;
    padding: 0;
    text-align: center;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
}
.btn-circular-gray{
    height: 22px;
    width: 22px;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4285;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: url("/statics/img/projectManage/u12.png") no-repeat;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-add-gray{
    height: 20px;
    width: 20px;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4285;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: url("/statics/img/projectManage/u13.png") no-repeat;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-delete-red{
    height: 20px;
    width: 20px;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4285;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: url("/statics/img/projectManage/u14.png") no-repeat;
    border: 1px solid transparent;
    border-radius: 4px;
}
/*靠右对齐按钮*/
.btn-group-right{
    margin: 0 15px;
    float: right;
    text-align: right;
}
.btn-link-group{
    float: right;
    text-align: right;
    font-size: 13px;
}
.btn-link-group>a{color: #428ac9;}

/*标签样式*/
label img{padding:5px;}
.label-gray{
    color: #666666;
    background-color: #e3e3e3;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    padding: 2px 5px;
    font-size: 12px;
}
.label-pink{
    color: #ea9066;
    background-color: #f4d1d0;
    border: 1px solid #f4d1d0;
    border-radius: 10px;
    padding: 2px 5px;
    font-size: 12px;
}


/*图形*/
.point{
    height: 12px;
    width: 12px;
    border-radius: 6px;
    margin: 3px 1px;
    z-index:8;
}
.circular-green{
    height: 20px;
    width: 20px;
    padding: 2px 0;
    text-align: center;
    white-space: nowrap;
    background: url("/statics/img/projectManage/u11.png") no-repeat;
}
.triangle-orange{
    width:0;
    height:0;
    border-width:10px;
    border-color:transparent transparent transparent #efac4e;
    font-size:0;
    line-height:0;
    border-style:solid dashed dashed;
}
.square{
    width:0;
    height:0;
    border-width: 7px;
    border-color:#e3e3e3;
    font-size:0;
    line-height:0;
    border-style: solid dashed;
}


/*背景颜色*/
.color-blue{
    background-color: #6fc7e1;
}
.color-orange{
    background-color: #efac4e;
}
.color-gray{
    background-color: #e3e3e3;
}
.color-green{
    background-color: #51C1B1;
}
.color-lightGray{
    background-color: #f5f5f5;
}
/*渐变色*/
.gradient-blue-orange{
    /*FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#6fc7e1,endColorStr=#efac4e); !*IE 6 7 8*!*/
    background: -ms-linear-gradient(top, #6fc7e1,  #efac4e);        /* IE 10 */
    background:-moz-linear-gradient(top,#6fc7e1,#efac4e);/*火狐*/
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#6fc7e1), to(#efac4e));/*谷歌*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6fc7e1), to(#efac4e));      /* Safari 4-5, Chrome 1-9*/
    background: -webkit-linear-gradient(top, #6fc7e1, #efac4e);   /*Safari5.1 Chrome 10+*/
    background: -o-linear-gradient(top, #6fc7e1, #efac4e);  /*Opera 11.10+*/
}



/*左侧面板样式*/
.left-panel-title{
    display: inline-flex;
    background-color: #f5f5f5;
    height: 40px;
    vertical-align: middle;
    text-align: center;
    padding: 12px 0;
    font-family: "微软雅黑 Regular", "微软雅黑", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #999999;
}
.left-panel-list{
    height:calc(100vh - 45px);/*100%;*/
    margin-top: 40px;
    border-right: 1px solid #f5f5f5;
    font-size: 13px;
}
.left-panel-step{
    height: 50px;
    width: 100%;
}
.btn-step-operation{
    text-align: right;
    color:#428ac9 ;
}
.left-panel-begin-step{
    height: 50px;
    width: 100%;
    margin-bottom: -50px;
}
.progress-line-begin{
    height: 14px;
    width: 14px;
    border-radius: 6px;
    margin:0;
    z-index:8;
}
.progress-line{
    width:2px;
    height: 50px;
    /*border-left:1px solid transparent;*/
    /*border-right:1px solid transparent;*/
    position:relative;
    margin-left: 6px;
    margin-top: 0;
}
.progress-line-stage{

}
.step-div{
    height: 100%;
    width: 100%;
    display: inline-flex;
}
.stepActive{
    background-color: #E3F3F9;
}






/*中间面板样式*/
.center-panel-list{
    height:calc(100vh - 5px);/*100%;*/
}
#panel-organ{
    font-size: 13px;
    margin-bottom: 5px;
}
#panel-schedules{
    font-size: 13px;
    margin-bottom: 5px;
}
#panel-schedules>div{padding-top: 10px}


.vertical-divider{
    width: 1px;
    margin: 3px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.horizontal-divider {
    height: 1px;
    width: calc(100% - 30px);
    margin: 5px 10px;
    overflow: hidden;
    background-color: #e5e5e5;
}
.panel-heading-task{
    display: inline-flex;
    width: 100%;
    padding: 5px 10px
}
.panel-heading-title>span{
    margin-right: 10px;
}

.panel-body-task{
    height: 40px;
    padding-top: 15px;
}
.panel-body-task-icon{
    margin: 5px 0;
}


.panel-heading-task>div{
    display: inline-flex;
}

.add-panel-task{
    background-color: #E3F3F9;
    line-height: 2.45;
    vertical-align: middle;
    padding: 10px 0;
    font-size: 13px;
}

















