.column{
    padding-left:0px;
    padding-right: 0px;
}

.fa-color{
    color: #1cae99
}

.float-right{
    float: right;
    text-align: right;
}

.display-flex{
    display: inline-flex;
}
.datePicker{
    width: 120px;
    background-color: #fff;
    border: 1px solid #ccc;
    height: 30px;
    vertical-align: middle;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 4px 6px;
}

/*按钮样式*/
.transparent-btn {
    display: inline-block;
    margin: 4px 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4285;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
}


.horizontal-divider {
    height: 1px;
    width: calc(100% - 30px);
    margin: 5px 10px;
    overflow: hidden;
    background-color: #e5e5e5;
}



.date-staff-label{
    width: 84px;
    height: 20px;
    margin: auto 10px;
    padding: 2px 0px;
    text-align: center;
    font-family: "微软雅黑 Regular", "微软雅黑";
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #666666;
    border-radius: 12px;
    background-color: #E3E3E3;
}

.add-panel {
    background-color: #F1F1F1;
    line-height: 2.45;
    vertical-align: middle;
    padding: 10px;
    font-size: 13px;
}

.check-item {
    background-color: #ffffff;
    line-height: 1;
    vertical-align: middle;
    padding: 10px;
    font-size: 13px;
}

.task-log {
    background-color: #ffffff;
    line-height: 2;
    vertical-align: middle;
    padding: 10px 5px;
    font-size: 13px;
}

.task-log>span{padding: 0px 5px; }