.column{
    padding-left:0px;
    padding-right: 0px;
}
.datePicker{
    width: 120px;
}
.title {
    text-align: left;
    font-family: "微软雅黑 Regular", "微软雅黑";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #999999;
}

.float-right{
    float: right;
}

.transparent-btn {
    display: inline-block;
    margin: 4px 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4285;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
}



.left-panel-container{
    height: calc(100vh - 40px);
}

.timeline-img{
    width:60px;
    height:60px;
    margin:5px auto 5px 5px;
    font-size: 28px;
    color: #ffffff;
    background: #5bbfdd;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    border:3px solid #5bbfdd;
    position:relative;
    z-index: 9;
    left:0;
}
.timeline-img>span{
    vertical-align: middle;
    margin-left: 10px;
}
.timeline-img-min{
    width:40px;
    height:40px;
    margin:auto auto auto 15px;
    font-size: 20px;
    color: #999999;
    background: #e3e3e3;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
    border:3px solid #e3e3e3;
    position:relative;
    z-index: 9;
    left:0;
}
.timeline-img-min>span{
    vertical-align: middle;
    margin-left: 5px;
}
.timeline-bottom{
    top: calc(100vh - 210px);
}
.timeline-bottom-span{
    position: relative;
    top: calc(100vh - 210px);
}

.timeline-line{
    width:2px;
    height:100%;
    background: #d0d0d0;
    border-left:1px solid #ececec;
    border-right:1px solid #ececec;
    position:absolute;
    z-index:8;
    left:0;
    margin-left: 34px;
    /*margin-top:-30px;*/
}













.center-panel-grid{
    height: calc(100vh - 100px);
}





.right-panel{
    border-left: 1px solid rgb(221, 221, 221);
}
.right-panel-serach{
    display: inline-flex;
    border-top: 1px solid rgb(221, 221, 221);
    padding: 10px 0px 10px 20px;
}
.right-panel-title {
    padding:14px 5px;
    font-family: "Arial Normal", "Arial";
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #333333;
    text-align: left;
    line-height: normal;
}
.right-panel-grid{
    height: calc(100vh - 140px);
}

