select{
    background-color: #fff;
    border: 1px solid #ccc;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    margin-bottom: 10px;
    color: #555;
}
.column{
    padding-left:0px;
    padding-right: 0px;
}
.datePicker{
    width: 120px;
    background-color: #fff;
    border: 1px solid #ccc;
    height: 30px;
    vertical-align: middle;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 4px 6px;
}
.title {
    text-align: left;
    font-family: "微软雅黑 Regular", "微软雅黑";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #999999;
}

.float-right{
    float: right;
}

.transparent-btn {
    display: inline-block;
    margin: 4px 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4285;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-blue{
    color: #ffffff;
    background-color:#5bbfdd;
    border-radius: 3px;
}
.focus.btn-blue, .btn-blue:focus, .btn-blue:hover {
    color: #ffffff;
    text-decoration: none;
}



.left-panel-container{
    height: calc(100vh - 40px);
    max-width:70px;
}

.timeline-img{
    width:60px;
    height:60px;
    margin:5px auto 5px 5px;
    font-size: 28px;
    color: #ffffff;
    background: #5bbfdd;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    border:3px solid #5bbfdd;
    position:relative;
    z-index: 9;
    left:0;
}
.timeline-img>span{
    vertical-align: middle;
    margin-left: 10px;
}
.timeline-img-min{
    width:40px;
    height:40px;
    margin:auto auto auto 15px;
    font-size: 20px;
    color: #999999;
    background: #e3e3e3;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
    border:3px solid #e3e3e3;
    position:relative;
    z-index: 9;
    left:0;
}
.timeline-img-min>span{
    vertical-align: middle;
    margin-left: 5px;
}
.timeline-bottom{
    top: calc(100vh - 210px);
}
.timeline-bottom-span{
    position: relative;
    top: calc(100vh - 210px);
}
.timeline-line{
    width:2px;
    height:100%;
    background: #d0d0d0;
    border-left:1px solid #ececec;
    border-right:1px solid #ececec;
    position:absolute;
    z-index:8;
    left:0;
    margin-left: 34px;
}



.for-li{
    list-style-type:none;
}
.for-li-div{
    display: inline-flex;
}




.center-btn-group-top{
    text-align: right;
}
.center-panel-grid{
    height: calc(100vh - 105px);
}
.center-li-index {
    width: 20px;
    height: 20px;
    margin: auto 10px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(91, 192, 222, 1);
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #5bc0de;
    text-align: center;
}


.li-projectWork-label{
    width: 70px;
    height: 24px;
    margin: auto 10px;
    padding-top: 3px;
    text-align: center;
    font-family: "微软雅黑 Regular", "微软雅黑";
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #ffffff;
    border-radius: 12px;
    background-color: #5bbfdd;
}
.label-color-blue{
    color: #ffffff;
    background-color:#5bbfdd;
}
.label-color-orange{
    color: #ffffff;
    background-color: #fd8831;
}

.center-li .divider {
    height: 1px;
    margin: 10px 10px 10px -10px;
    overflow: hidden;
    background-color: #e5e5e5;
}






.select-project{
    width: 30%;
}
.select-projTask{
    width: calc(70% - 13px);
}
.select-task{
    width: calc(100% - 12px);
}
.isProjectWork{
    text-align: right;
    padding-right: 10px;
}
.input-workDetails{
    width: calc(100% - 10px);
    background-color: #fff;
    border: 1px solid #ccc;
    height: 32px;
    color: #555;
    line-height: 32px;
    vertical-align: middle;
    margin-bottom: 10px;
    /*border-radius: 4px;*/
}

























.right-panel{
    border-left: 1px solid rgb(221, 221, 221);
}
.right-panel-serach{
    display: inline-flex;
    border-top: 1px solid rgb(221, 221, 221);
    padding: 10px 0px 0px 20px;
}
.right-panel-title {
    padding:14px 5px;
    font-family: "Arial Normal", "Arial";
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #333333;
    text-align: left;
    line-height: normal;
}
.right-panel-grid{
    height: calc(100vh - 140px);
}
