<!DOCTYPE html>
<html>
<head>
    <title>项目管理</title>
    #parse("include/header.html")
    <link rel="stylesheet" href="${rc.contextPath}/statics/css/projectManage/projectList.css">
</head>
<body>
<div id="projectList" v-cloak>
    <div class="col-md-12 column clearfix">
        <div class="col-md-1 column leftBar" :style="styleObject">
            <div class="project-type-group">
                <div class="type-slimScroll">
                    <ul class="column">
                        <li v-for="type in types" class="row clearfix project-type" :class="{'active-step':(type.value===activeType.value)}">
                            <a @click="selectType(type)" class="type-href" href="#">
                                <img :src="type.icon">
                                <br>
                                {{type.name}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row clearfix operations">
                <div class="operation-icon-left" title="归档查询">
                    <button class="transparent-btn" @click="archProjQuery">
                        <img :src="icon_FileQuery" >
                    </button>
                </div>
                <div class="operation-icon-right" title="编辑项目模版">
                    <button class="transparent-btn" @click="editProjTemp">
                        <img :src="icon_EditTemp">
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-11 projGridPanel" :style="styleObject">
            <div class="subTitle">{{activeType.name}}在线项目共有<span style="color:#dc6d67">{{length}}</span>个</div>
            <div class="projGrid">
                <div class="project-slimScroll">
                    <div v-for="project in projects" class="row clearfix projList"
                         :class="{'active-project':(project.projId===activeProject.projId)}">
                        <div class=" col-md-12 column">
                            <div class="col-md-10 column projList-left" @click="showDetails( project )">
                                <div class="fa fa-archive fa-color"></div>
                                {{project.projName}}
                                <span class="subTitle">&nbsp;&nbsp;&nbsp;&nbsp;大项目经理：{{project.bigProjManager}}</span>
                            </div>
                            <div class="col-md-2 column projList-right">
                                <div class="col-md-12 column task-info">
                                        <span >
                                            <a style="color: #d9534f;">风险项:{{project.riskItem}}</a>
                                            &nbsp;|&nbsp;
                                            <a style="color: #d9534f;">待处理任务:{{project.unFinishTask}}</a>
                                        </span>
                                </div>
                                <div class="col-md-12 column complet-info">
                                    <span>总体完成&nbsp;{{project.completRate?project.completRate:0}}%</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 column divider"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
#parse("include/footer.html")
<script src="${rc.contextPath}/statics/js/projectManage/projectList.js?_${date.systemTime}"></script>
</body>
</html>