<!DOCTYPE html>
<html>
<head>
<title>定时任务</title>
#parse("include/header.html")
</head>
<body>
<div id="dpLTE" class="container-fluid" v-cloak>
	<div class="row">
		<div class="col-md-4 form-inline pull-left">
			<div class="form-group">
		    	<input v-model="keyword" @keyup.enter="load" class="form-control" placeholder="请输入查询关键字" style="width: 220px;" />
			</div>
			<div class="form-group">
			    <a class="btn btn-primary" @click="load"><i class="fa fa-search"></i>&nbsp;查询</a>
			</div>
		</div>
		<div class="col-md-8">
			<div class="btn-toolbar pull-right">
				<div class="btn-group">
		            <a v-if="hasPermission('quartz:job:list')" class="btn btn-default" onclick="reload();"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
		            <a v-if="hasPermission('quartz:job:save')" class="btn btn-default" @click="save"><i class="fa fa-plus"></i>&nbsp;新增</a>
		            <a v-if="hasPermission('quartz:job:edit')" class="btn btn-default" @click="edit"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑</a>
		            <a v-if="hasPermission('quartz:job:remove')" class="btn btn-default" @click="remove"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
		        	<a v-if="hasPermission('quartz:job:enable')" class="btn btn-default" @click="enable"><i class="fa fa-play"></i>&nbsp;启用</a>
		        	<a v-if="hasPermission('quartz:job:disable')" class="btn btn-default" @click="disable"><i class="fa fa-pause"></i>&nbsp;禁用</a>
		        	<a v-if="hasPermission('quartz:job:run')" class="btn btn-default" @click="run"><i class="fa fa-check"></i>&nbsp;立即执行</a>
		        	<a v-if="hasPermission('quartz:log:list')" class="btn btn-default" href="log.html?_${date.systemTime}"><i class="fa fa-warning"></i>&nbsp;日志列表</a>
		        </div>
	        </div>
		</div>
	</div>
	<div class="row">
		<table id="dataGrid"></table>
	</div>
</div>
#parse("include/footer.html")
<script src="${rc.contextPath}/statics/js/base/quartz/list.js?_${date.systemTime}"></script>
</body>
</html>