<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ffcs.dp.shiro.dao.SysUserRoleMapper">
	
	<insert id="save">
		<!--<selectKey keyProperty="id" resultType="long" order="BEFORE">
			select pms_sys_user_role_seq.nextval from dual
		</selectKey>
		INSERT INTO pms_sys_user_role (id, user_id, role_id)
		VALUES
		<foreach collection="roleIdList" item="item" index="index" separator="," >
		(
			#{id},
			#{userId}, 
			#{item}
		)
		</foreach>-->

		INSERT INTO pms_sys_user_role
			(id, user_id, role_id)
		SELECT pms_sys_user_role_seq.nextval id, T.*
		FROM(
		<foreach collection="roleIdList" item="item" index="index" separator="UNION ALL">
			SELECT
			#{userId} user_id,
			#{item} role_id
			FROM dual
		</foreach>
		) T
	</insert>
	
	<delete id="remove">
		DELETE
		FROM
			pms_sys_user_role
		WHERE
			user_id = #{value}
	</delete>
	
	<delete id="batchRemoveByUserId">
		DELETE
		FROM
			pms_sys_user_role
		WHERE
			user_id IN
		<foreach item="userId" collection="array" open="(" separator="," close=")">
			#{userId}
		</foreach>
	</delete>
	
	<delete id="batchRemoveByRoleId">
		DELETE
		FROM
			pms_sys_user_role
		WHERE
			role_id IN
		<foreach item="roleId" collection="array" open="(" separator="," close=")">
			#{roleId}
		</foreach>
	</delete>
	
	<select id="listUserRoleId" resultType="long">
		SELECT
			role_id
		FROM
			pms_sys_user_role
		WHERE
			user_id = #{value}
	</select>

</mapper>