<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ffcs.dp.projectManage.dao.FileManMapper">



	<!--查找文档管理列表-->
	<select id="getFileManList" resultType="FileManEntity" parameterType="Map">
		select T.FILE_ID,
			   T.FOLDER_ID,
               T.FILE_TYPE,
			   T.FILE_NAME,
			   T.FILE_PATH,
			   T.DESCRIPTION,
			   T.CREATOR,
			   U.USERNAME STAFF_NAME,
			   T.CREATE_DATE
		  from PMS_PROJ_FILE_MANAGE T, PMS_SYS_USER U
		 where T.CREATOR = U.USER_ID
		<if test="fileType != null and '' != fileType">
			and T.FILE_TYPE = #{fileType}
		</if>
		<if test="folderId != null and '' != folderId">
		   and T.FOLDER_ID = #{folderId}
		</if>
	</select>



	<!--插入文档管理信息-->
	<insert id="insertFileMan">
		<selectKey keyProperty="fileId" resultType="long" order="BEFORE">
			SELECT PMS_PROJ_FILE_MANAGE_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		insert into PMS_PROJ_FILE_MANAGE (FILE_ID,FOLDER_ID,FILE_NAME,FILE_PATH,DESCRIPTION,FILE_TYPE,CREATOR,CREATE_DATE)
		values (#{fileId},#{folderId},#{fileName},#{filePath},#{description},#{fileType},#{userId},#{createDate})
	</insert>


	<delete id="deleteFileMan" parameterType="Map">
		delete PMS_PROJ_FILE_MANAGE where FILE_ID = #{fileId} or FOLDER_ID = #{fileId}
	</delete>

</mapper>