<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ffcs.dp.projectManage.dao.ProjManMapper">

	<!--查找项目列表-->
	<select id="listProject" resultType="ProjManEntity" parameterType="Map">
		with ss as
		 (select t.proj_id,
				 (select count(1)
					from pms_proj_task_check_item
				   where state = 1
					 and task_id = t.task_id) compCheck,
				 (select count(1)
					from pms_proj_task_check_item
				   where task_id = t.task_id) allCheck
			from pms_proj_task t)
		select i.proj_id,
			   i.proj_name,
			   i.belo_proj_group,
			   i.proj_type,
			   (select WM_CONCAT(USERNAME)
				  from PMS_SYS_USER
				 where INSTR(s.proj_group_manager, USER_ID) > 0) big_proj_manager,
			   (select count(1)
				  from pms_proj_risk_issue r
				 where r.state = 0
				   and r.proj_id = i.proj_id) risk_Item,
			   (select count(1)
				  from pms_proj_task t
				 where t.state != '2'
				   and t.parent_task is null
				   and t.proj_id = i.proj_id) un_Finish_Task,
			   (select trunc((sum(ss.compCheck)/decode(sum(ss.allCheck)*100,0,1,sum(ss.allCheck)*100)), 2)
				  from ss
				 where ss.proj_id = i.proj_id) complet_Rate
		  from pms_project_info i
		  left join pms_proj_stakeholder s
		    on i.proj_id = s.proj_id
		 where i.state = 0
           and i.belo_proj_group = #{group}
		   and i.proj_type = #{type}
		<if test=" keyword != '' ">
		   and i.proj_name like '%' || #{keyword} || '%'
		</if>
	</select>




	<!--查找已归档项目列表-->
	<select id="listArchiveProject" resultType="ProjManEntity" parameterType="Map">
        select i.proj_id,
               i.proj_name,
               i.belo_proj_group,
               i.proj_type,
               i.start_date,
               i.end_date,
			   (select WM_CONCAT(USERNAME)
			      from PMS_SYS_USER
				 where INSTR(s.proj_group_manager, USER_ID) > 0) big_proj_manager
          from pms_project_info i
          left join pms_proj_stakeholder s
            on i.proj_id = s.proj_id
         where i.state = 1
        <if test=" group != '' ">
            and i.belo_proj_group = #{group}
        </if>
        <if test=" type != '' ">
		  and i.proj_type = #{type}
        </if>
		<if test=" keyword != '' ">
			and i.proj_name like '%' || #{keyword} || '%'
		</if>
	</select>



	<!--查找项目组名称是否存在-->
	<select id="projGroupCount" resultType="int" parameterType="Map">
		SELECT count(1)
		FROM pms_sys_macro m
		left join pms_sys_macro p
		on m.parent_id = p.id
		WHERE m.type = 1
		and m.status = 1
		and p.type = 0
		and p.value = #{typeCodes}
		and m.name = #{typeName}
	</select>

	<!--插入项目组名称到通用字典表-->
	<insert id="addProjectGroup" parameterType="Map">
		<selectKey keyProperty="id" resultType="long" order="BEFORE">
			select pms_sys_macro_seq.nextval from dual
		</selectKey>
		INSERT INTO pms_sys_macro (
		id,
		parent_id,
		name,
		value,
		status,
		type,
		order_num,
		remark,
		create_date
		)
		VALUES (
		#{id},
		(select id from pms_sys_macro where value=#{typeCodes} and parent_id = 0 ),
		#{typeName},
		#{id},
		1,
		1,
		(select max(order_num)+1 from pms_sys_macro where parent_id =(select id from pms_sys_macro where value=#{typeCodes} and parent_id = 0 ) ),
		'所属项目组备注',
		sysdate
		)
	</insert>

</mapper>
