<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ffcs.dp.projectManage.dao.ProjDetailMapper">


	<!--获取项目信息-->
	<select id="getProjectInfo" resultType="java.util.HashMap" parameterType="Map">
		select P.PROJ_ID,
			   P.PROJ_NAME,
			   (select count(1) from PMS_PROJ_STEP S where S.PROJ_ID = P.PROJ_ID) ALL_STEP,
			   (select count(1)
				  from PMS_PROJ_STEP S
				 where S.PROJ_ID = P.PROJ_ID
				   and S.STATE in (0, 1)) UN_COMP_STEP,
			   (select count(1)
				  from PMS_PROJ_TASK K
				 where K.PROJ_ID = P.PROJ_ID
				   and K.STATE in (0, 1)) UN_COMP_TASK
		  From PMS_PROJECT_INFO P
		 where P.PROJ_ID = #{projId}
	</select>

	<!--获取步骤列表信息-->
	<select id="getStepList" resultType="StepEntity" parameterType="Map">
		select S. STEP_ID,
			   T.STEP_NAME,
			   T.STEP_SORT,
			   T.STEP_CONTENT,
			   (select count(1)
				  from PMS_PROJ_TASK
				 where STEP_ID = S.STEP_ID
				   and STATE in (0, 1)) UN_COMP_TASK,
			   (select count(1) from PMS_PROJ_TASK where STEP_ID = S.STEP_ID) ALL_TASK
		  from PMS_PROJ_STEP S, PMS_PROJ_TEMPLET_STEP T
		 where S.STEP_MOD = T.TEMP_STEP_ID
		   and S.PROJ_ID = #{projId}
	</select>


	<!--获取任务列表信息-->
	<select id="getTaskList" resultType="TaskEntity" parameterType="Map">
		select K.TASK_ID,
			   K.TASK_TITLE,
			   K.TASK_CONTENT,
			   K.TASK_STAFF,
			   K.FINISH_DATE,
			   K.STATE,
			   K.STEP_ID,
			   K.PARENT_TASK
		  From PMS_PROJ_TASK K
		  where K.PROJ_ID = #{projId}
			<if test="stepId != null and '' != stepId">
				and K.STEP_ID = #{stepId}
			</if>
	</select>

	<!--获取日程列表信息-->
	<select id="getScheduleList" resultType="ScheduleEntity" parameterType="Map">


	</select>

	<!--更新任务信息-->
	<update id="updateTask" parameterType="Map">
		UPDATE PMS_PROJ_TASK
		<set>
			<if test="state != null and state != ''">STATE = #{state} </if>
		</set>
		WHERE
		TASK_ID = #{taskId}

	</update>

	<!--插入任务信息-->
	<insert id="insertTask" parameterType="Map">
		<selectKey keyProperty="taskId" resultType="long" order="BEFORE">
			SELECT PMS_PROJ_TASK_SEQ.NEXTVAL FROM DUAL
		</selectKey>

	</insert>

	<!--更新日程信息-->
	<update id="updateSchedule" parameterType="Map">


	</update>

	<!--插入日程信息-->
	<insert id="insertSchedule" parameterType="Map">
		<selectKey keyProperty="scheduleId" resultType="long" order="BEFORE">
			SELECT  .NEXTVAL FROM DUAL
		</selectKey>

	</insert>

	<!--删除任务信息-->
	<delete id="deleteTask" parameterType="Map">
		delete PMS_PROJ_TASK where TASK_ID = #{taskId}
	</delete>

	<!--删除日程信息-->
	<delete id="deleteSchedule" parameterType="Map">


	</delete>

	<!--更新步骤状态信息-->
	<update id="updateStepState" parameterType="Map">
		update PMS_PROJ_STEP
		<set>
			<if test="state != null and state != ''">STATE = #{state} </if>
		</set>
		WHERE
		STEP_ID = #{stepId}
	</update>

	<!--更新任务状态信息-->
	<update id="updateTaskState" parameterType="Map">


	</update>



















</mapper>