<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ffcs.dp.projectManage.dao.ProjManMapper">



	<select id="listProject" resultType="ProjManEntity" parameterType="Map">
		with t as
		 (select i.*
			from pms_project_info i
		   where i.belo_proj_group = #{group}
			 and i.proj_type = #{type}
			 and i.proj_name like '%' || #{keyWord} || '%')
		select t.proj_id, t.proj_name, t.belo_proj_group, t.proj_type
		  from t
		 group by t.proj_id, proj_name, belo_proj_group, proj_type
	</select>



	<select id="getProjectById" resultType="ProjManEntity">

	</select>


	<insert id="save">

	</insert>


	<update id="update">

	</update>
	
	<delete id="batchRemove">

	</delete>

</mapper>