<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ffcs.dp.projectManage.dao.WorkLogMapper">


	<select id="getWorkLogList" resultType="WorkLogEntity" parameterType="Map">
		SELECT T.ID,
			   T.WORK_DATE,
			   T.START_TIME,
			   T.END_TIME,
			   T.IS_PROJECT_WORK,
			   T.PROJ_ID,
			   P.PROJ_NAME,
			   T.TASK_ID,
			   K.TASK_TITLE TASK_NAME,
			   T.WORK_DETAILS,
			   T.CREATOR
		  FROM PMS_PROJ_WORK_LOG T LEFT JOIN
			   PMS_PROJECT_INFO P
		    ON T.PROJ_ID = P.PROJ_ID
		  LEFT JOIN PMS_PROJ_TASK K
		    ON T.TASK_ID = K.TASK_ID
		 WHERE T.CREATOR = #{userId}
		<if test=" workLogDate != '' ">
		   AND T.WORK_DATE = #{workLogDate}
		</if>
		<if test=" startDate != ''">
			OR TO_DATE( T.WORK_DATE, 'YYYY-MM-DD') = TO_DATE( #{startDate}, 'YYYY-MM-DD')
		</if>
		<if test=" endDate != ''">
			OR TO_DATE( T.WORK_DATE, 'YYYY-MM-DD') = TO_DATE( #{endDate}, 'YYYY-MM-DD')
		</if>
		<if test=" startDate != '' and endDate != '' ">
           AND TO_DATE( T.WORK_DATE, 'YYYY-MM-DD') BETWEEN
               TO_DATE( #{startDate}, 'YYYY-MM-DD') AND
               TO_DATE( #{endDate}  , 'YYYY-MM-DD')+1-1/24/60/60
		</if>
	</select>


	<select id="getWorkHoursList" resultType="java.util.HashMap" parameterType="Map">
		SELECT to_char(next_day(TO_DATE(W.WORK_DATE, 'YYYY-MM-DD') + 15 / 24 - 7, 2),
					   'MM-DD') || '~' ||
			   to_char(next_day(TO_DATE(W.WORK_DATE, 'YYYY-MM-DD') + 15 / 24 - 1, 2),
					   'MM-DD') week,
			   T.TASK_ID,
			   T.TASK_TITLE,
			   SUM(W.MINUTES / 60) hours,
			   100 * ROUND(RATIO_TO_REPORT(SUM(W.MINUTES / 60)) OVER(PARTITION BY
			       to_char(next_day(TO_DATE(W.WORK_DATE, 'YYYY-MM-DD') + 15 / 24 - 7, 2),
					   'MM-DD') || '~' ||
			       to_char(next_day(TO_DATE(W.WORK_DATE, 'YYYY-MM-DD') + 15 / 24 - 1, 2),
					   'MM-DD')
			   ), 4) rat
		  FROM PMS_PROJ_WORK_LOG W, PMS_PROJ_TASK T
		 WHERE TO_DATE(W.WORK_DATE, 'YYYY-MM-DD') BETWEEN
			   TO_DATE( #{startDate}, 'YYYY-MM-DD') AND
			   TO_DATE( #{endDate}  , 'YYYY-MM-DD')
		   AND W.CREATOR = #{userId}
		   AND W.TASK_ID = T.TASK_ID
		 GROUP BY to_char(next_day(TO_DATE(W.WORK_DATE, 'YYYY-MM-DD') + 15 / 24 - 7, 2),
						  'MM-DD') || '~' ||
				  to_char(next_day(TO_DATE(W.WORK_DATE, 'YYYY-MM-DD') + 15 / 24 - 1, 2),
						  'MM-DD'),
				  T.TASK_TITLE,
				  T.TASK_ID
		 ORDER BY week,T.TASK_ID
	</select>


	<insert id="insertWorkLog">
		<selectKey keyProperty="workLogId" resultType="long" order="BEFORE">
			SELECT PMS_PROJ_WORK_LOG_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		insert into PMS_PROJ_WORK_LOG (ID, WORK_DATE, START_TIME, END_TIME, IS_PROJECT_WORK, PROJ_ID, TASK_ID, WORK_DETAILS, CREATOR, MINUTES)
		values (#{workLogId}, #{workLogDate}, #{startTime}, #{endTime}, #{isProjectWork}, #{project}, #{task}, #{workDetails}, #{userId}, #{minutes})
	</insert>


	<update id="updateWorkLog">
		UPDATE PMS_PROJ_WORK_LOG
		<set>
			<if test="startTime != null">START_TIME = #{startTime}, </if>
			<if test="endTime != null">END_TIME = #{endTime}, </if>
			<if test="isProjectWork != null">IS_PROJECT_WORK = #{isProjectWork}, </if>
			<if test="project != null">PROJ_ID = #{project}, </if>
			<if test="task != null">TASK_ID = #{task}, </if>
			<if test="workDetails != null">WORK_DETAILS = #{workDetails}, </if>
			<if test="minutes != null">MINUTES = #{minutes} </if>
		</set>
		WHERE
		id = #{workLogId}
	</update>






	<select id="getExportList" resultType="WorkLogEntity" parameterType="Map">
		SELECT T.ID,
			   T.WORK_DATE,
			   T.START_TIME,
			   T.END_TIME,
			   T.IS_PROJECT_WORK,
			   T.PROJ_ID,
			   P.PROJ_NAME,
			   T.TASK_ID,
			   K.TASK_TITLE TASK_NAME,
			   T.WORK_DETAILS,
			   T.CREATOR
		  FROM PMS_PROJ_WORK_LOG T, PMS_PROJECT_INFO P, PMS_PROJ_TASK K
		 WHERE T.PROJ_ID = P.PROJ_ID
		   AND T.TASK_ID = K.TASK_ID
		   AND T.CREATOR = #{userId}
		<if test=" startDate != '' and endDate != '' ">
		   AND TO_DATE( T.WORK_DATE, 'YYYY-MM-DD') BETWEEN
			   TO_DATE( #{startDate}, 'YYYY-MM-DD') AND
			   TO_DATE( #{endDate}  , 'YYYY-MM-DD')+1-1/24/60/60
		</if>
	</select>





	<!--根据项目名称、任务名称查找对应的项目Id,任务Id-->
	<select id="getProjTaskInfo" resultType="WorkLogEntity" parameterType="Map">
		with PP as
		 (select P.PROJ_ID, P.PROJ_NAME
			from PMS_PROJECT_INFO P
		   where P.PROJ_NAME = #{projName})
		select PP.PROJ_ID, PP.PROJ_NAME, K.TASK_ID, K.TASK_TITLE TASK_NAME
		  from PP
		  left join PMS_PROJ_TASK K
			on PP.PROJ_ID = K.PROJ_ID
		   and K.TASK_TITLE = #{taskName}
	</select>


</mapper>
