<!DOCTYPE html>
<html>
<head>
    <title>项目列表</title>
    #parse("include/header.html")
    <link rel="stylesheet" href="${rc.contextPath}/statics/css/projectManage/select2.min.css">
    <link rel="stylesheet" href="${rc.contextPath}/statics/css/projectManage/projectTemple.css">

</head>
<body>
<div class="container-fluid" id="dpTemple">
    <div class="row-fluid col-sm-2 col-xs-2 col-md-2 col-lg-2">
        <div class="container-fluid">
            <p class="pull-right">
                <router-link to="/addTemplate">新增模板</router-link>
            </p>
        </div>
        <div class="template-nav">
            <div class="list-group">
                <template v-for="(item, index) in template">
                    <router-link :to="'/template/'+index" class="list-group-item">
                        <p class="list-group-item-heading one-line">
                            {{item.tempName}}
                        </p>
                        <p class="list-group-item-text two-line">
                            {{item.description}}
                        </p>
                    </router-link>
                    <div class="default-template" v-if="item.isDefault === '1'">
                        默认
                    </div>
                    <div class="set-default-template" @click="setDefault(item.tempId)" v-else>
                        设为默认
                    </div>
                    <!--<img src="/statics/img/template_default.png" class="set-default">-->
                </template>
            </div>
        </div>
    </div>
    <div v-if="!isLoading">
        <transition name="fade" mode="out-in">
            <router-view :temp="temp" :options="options" :template="template" @submit-success="reloadTemplate"
                         :key="$route.path"></router-view>
        </transition>
    </div>
</div>
<template id="templateList">
    <div class="row-fluid col-sm-10 col-xs-10 col-md-10 col-lg-10">
        <div class="panel panel-default no-border">
            <div class="panel-heading">
                模板信息
            </div>
            <div class="panel-body">
                <div class="form-group row">
                    <label class="col-sm-2 col-xs-2 col-md-2 col-lg-2 col-form-label">模板名称：</label>
                    <div class="col-sm-10 col-xs-10 col-md-10 col-lg-10">
                        {{template[this.$route.params.index].tempName}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-xs-2 col-md-2 col-lg-2 col-form-label">详细描述：</label>
                    <div class="col-sm-10 col-xs-10 col-md-10 col-lg-10">
                        {{template[this.$route.params.index].description}}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="panel panel-default no-border">
                <div class="panel-heading">
                    阶段配置
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div>
                        <ul class="nav nav-pills nav-step" ref="step" id="nav-step">
                            <div class="step-scroll-left" v-if="stepStart>0" @click="toPrev()">
                                <img src="/statics/img/step_left.png" alt="" class="left">
                            </div>
                            <li v-for="(item, index) in template[$route.params.index].projTemplateStepEntities"
                                :class="[index == stepActive ? 'active' :'' ]"
                                v-if="index >= stepStart && index < (stepCount  + stepStart)">
                                <a :href="'#' + index +'-pills'" data-toggle="tab" :title="item.stepName "
                                   @click="setActive(index)"
                                   :class=" [(index === stepCount + stepStart -1) || ( index == template[$route.params.index].projTemplateStepEntities.length - 1)  ? 'last' : ''] ">
                                    <p>{{ item.stepName }}</p>
                                </a>

                            </li>
                            <!--<li v-if="template[this.$route.params.index].projTemplateStepEntities.length > stepCount">-->
                            <div class="step-scroll-right"
                                 v-if="stepStart + stepCount < template[$route.params.index].projTemplateStepEntities.length "
                                 @click="toNext()">
                                <img src="/statics/img/step_right.png" alt="" class="right">
                            </div>
                        </ul>

                    </div>

                    <!-- Tab panes -->
                    <div class="tab-content tab-step" id="tab-step">
                        <div v-for="(item, index) in template[this.$route.params.index].projTemplateStepEntities"
                             class="tab-pane fade"
                             :class="[index===0 ? 'in active' : '']" :id="index + '-pills'">
                            <template-step-list :item="item" :options="options"></template-step-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template id="templateForm">
    <div class="row-fluid col-sm-10 col-xs-10 col-md-10 col-lg-10">
        <div class="panel panel-default no-border">
            <div class="panel-heading">
                模板信息
            </div>
            <div class="panel-body">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">模板名称：</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="输入模板名称" v-model="temp.tempName">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">详细描述：</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="输入模板描述" v-model="temp.description">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="panel panel-default no-border">
                <div class="panel-heading">
                    阶段配置
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div>
                        <ul class="nav nav-pills nav-step" ref="step">
                            <div class="step-scroll-left" v-if="stepStart>0" @click="toPrev()">
                                <img src="/statics/img/step_left.png" alt="" class="left">
                            </div>
                            <li v-for="(item, index) in temp.stepList" :class="[index==stepActive ? 'active' : '']" v-if="index >= stepStart && index < (stepCount  + stepStart)">
                                <img class="badge-notify" @click="removeStep(index)"
                                     src="/statics/img/step_delete.png"/>
                                <a :href="'#' + index +'-pills'" data-toggle="tab" :title="item.stepName " @click="setActive(index)"
                                   @dblclick="edit(index);">
                                    <p v-if=" item.status == 'show' ">{{ item.stepName }}</p>
                                    <input v-if=" item.status == 'edit'" style='color: black; width: 56px'
                                           v-model="temp.stepList[index].stepName" @blur="show(index)"
                                           @keydown.enter="show(index)" v-focus="true"/>
                                </a>
                            </li>
                            <li class="add-step-li">
                                <a href="javascript:;" class="add-step last" @click="addNewStep">新增模板</a>
                            </li>
                            <div class="step-scroll-right"
                                 v-if="stepStart + stepCount < temp.stepList.length "
                                 @click="toNext()">
                                <img src="/statics/img/step_right.png" alt="" class="right">
                            </div>
                        </ul>
                    </div>
                    <!-- Tab panes -->
                    <div class="tab-content tab-step">
                        <div v-for="(item, index) in temp.stepList" class="tab-pane fade"
                             :class="[index==0 ? 'in active' : '']" :id="index + '-pills'">
                            <template-step-form :item="item" :options="options"></template-step-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <button @click="submitForm" class="btn btn-primary col-sm-2  ">创建模板</button>
            <button class="btn  btn-default col-sm-2">取消</button>
        </div>
    </div>
</template>

<template id="templateStepForm">
    <div>
        <div class="flex-container">
            <div class="flex-left">
                <label for="inlineFormCustomSelect">默认完成时间：上一环节偏移</label>
                <input class="custom-control input-number" type="text" v-model.number="item.defaultMoveDate"/>
                <select class="custom-select input-number" id="inlineFormCustomSelect">
                    <option value="1" selected>月</option>
                    <option value="2">天</option>
                </select>
                <label class="">当离完成时间</label>
                <input class="custom-control input-number" type="text" v-model="item.finishNoticeDate"/>
                <label class="">天,通知给</label>
            </div>
            <div class="flex-right white">
                <v-select multiple v-model="item.noticeStaff" :options="options"></v-select>
            </div>
        </div>
        <div class="form-line">
            <div class="flex-container">
                <div class="flex-left">
                    <label>当任务变更时，默认通知给</label>
                </div>
                <div class="flex-right white">
                    <v-select multiple v-model="item.taskChangeStaff" :options="options"></v-select>
                </div>
            </div>
        </div>
        <div class="form-line">
            <label>当日程结束前</label>
            <input type="text" class="custom-control input-number" v-model="item.finishScheduleNoticeDate"/>
            <label>天，通知给参与人</label>
        </div>
        <div>
            <div class="flex-container">
                <div class="flex-left flex-checkbox">
                    <input type="checkbox" class="" v-model="item.isAttach"/>
                </div>
                <div class="flex-right">
                    <div class="form-line">
                        <label>本环节需要上传文档 对上传文档要求</label>

                        <label> word</label>
                        <input type="text" class="custom-control input-number" placeholder="个数"
                               v-model="item.attachWord"/>

                        <label> excel</label>
                        <input type="text" class="custom-control input-number" placeholder="个数"
                               v-model="item.attachExcel"/>
                        <!--<input type="checkbox" class="custom-control"  />-->
                        <label> pdf</label>
                        <input type="text" class="custom-control input-number" placeholder="个数"
                               v-model="item.attachPdf"/>
                    </div>
                    <input type="text" class="form-control" placeholder=" 对上传的文档进行具体说明" v-model="item.attachContent">
                </div>
            </div>
        </div>
    </div>
</template>

<template id="templateStepList">
    <div>
        <p>默认完成时间：上一环节偏移 {{item.defaultMoveDate}}当离完成时间{{item.finishNoticeDate}} 通知:{{item.noticeStaff}}</p>
        <p>当任务变更时，默认通知给{{item.taskChangeStaff}}</p>
        <p>当日程结束前{{item.finishScheduleNoticeDate}}天，通知给参与人</p>
        <p>附件{{item.attachContent}}</p>
    </div>
</template>
#parse("include/footer.html")
<script src="${rc.contextPath}/statics/libs/vue-router.min.js"></script>
<script src="${rc.contextPath}/statics/libs/vue-resource.js"></script>
<script src="${rc.contextPath}/statics/libs/vue-select.js"></script>
<script src="${rc.contextPath}/statics/js/projectManage/projectTemple.js"></script>


</body>
</html>