<!DOCTYPE html>
<html>
<head>
    <title>项目列表</title>
    #parse("include/header.html")
    <link rel="stylesheet" href="${rc.contextPath}/statics/css/projectManage/select2.min.css">
    <link rel="stylesheet" href="${rc.contextPath}/statics/css/projectManage/projectTemple.css">

</head>
<body>


<div class="container-fluid" id="dpTemple">
    <div class="row-fluid col-sm-2 col-xs-2 col-md-2 col-lg-2">
        <div class="container-fluid">
            <p class="pull-right">新增模板</p>
        </div>

        <div class="well well-sm">
            <h4 class="one-line">模板一</h4>
            <p class="two-line">模板描述最多只能展示两行，如果内容太长不够展示的请使用...</p>
        </div>
        <div class="well well-sm">
            <h4 class="one-line">模板二</h4>
            <p class="two-line">模板描述最多只能展示两行，如果内容太长不够展示的请使用...</p>
        </div>
        <div class="well well-sm">
            <h4 class="one-line">模板三</h4>
            <p class="two-line">模板描述最多只能展示两行，如果内容太长不够展示的请使用...</p>
        </div>
        <div class="well well-sm">
            <h4 class="one-line">模板四</h4>
            <p class="two-line">模板描述最多只能展示两行，如果内容太长不够展示的请使用...</p>
        </div>
    </div>

    <div class="row-fluid col-sm-10 col-xs-10 col-md-10 col-lg-10">
        <form role="form" lpformnum="1">
            <div class="panel panel-default no-border">
                <div class="panel-heading">
                    模板信息
                </div>
                <div class="panel-body">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">模板名称：</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="输入模板名称">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">详细描述：</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="输入模板描述">
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="panel panel-default no-border">
                    <div class="panel-heading">
                        阶段配置
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-pills nav-step">
                            <li v-for="(item, index) in stepList">
                                <img class="badge-notify" @click="removeStep(index)"
                                     src="/statics/img/step_delete.png"/>
                                <a href="#messages-pills" data-toggle="tab" :title="item.text "
                                   @dblclick="edit(index);">
                                    <p v-if=" item.status == 'show' ">{{ item.text }}</p>
                                    <input v-if=" item.status == 'edit'" style='color: black; width: 56px' v-model="stepList[index].text" @blur="show(index)" v-focus="true" /></a>
                            </li>
                            <li class="add-step-li">
                                <img class="badge-notify">
                                <a href="javascript:;" class="add-step" @click="addNewStep(this)">新增模板</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content tab-step">
                            <div class="tab-pane fade in active" id="home-pills">
                                <temple-form></temple-form>
                            </div>
                            <div class="tab-pane fade" id="profile-pills">
                                <temple-form></temple-form>
                            </div>
                            <div class="tab-pane fade" id="messages-pills">
                                <temple-form></temple-form>
                            </div>
                            <div class="tab-pane fade" id="settings-pills">
                                <temple-form></temple-form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <button class="btn btn-primary col-sm-2  ">创建模板</button>
                <button class="btn  btn-default col-sm-2">取消</button>
            </div>
        </form>
    </div>
</div>
<template id="myComponent">
    <div>
        <div>This is a component!</div>
        <a @click="hello(this)">1</a>
    </div>
</template>

#parse("include/footer.html")
<script src="${rc.contextPath}/statics/plugins/tooltip.js"></script>
<script src="${rc.contextPath}/statics/plugins/select2.min.js"></script>
<script src="${rc.contextPath}/statics/js/projectManage/projectTemple.js"></script>

</body>
</html>