<!DOCTYPE html>
<head>
    <title>项目详情</title>
    #parse("include/header.html")
    <link rel="stylesheet" href="${rc.contextPath}/statics/css/projectManage/projectDetails.css">
</head>
<body>


<div id="dpLTE" class="container-fluid" v-cloak>

    <div>
        <div class="col-md-12 column">
            <div class="tabbable" id="tabs">

                <div class="col-md-4 column">
                    <span style="line-height: 45px; vertical-align: middle;" @click="backToList">{{projectInfo.projectName}}</span>
                </div>
                <div class="col-md-6 column">
                    <ul class="nav nav-tabs top-tabs">
                        <!--初始化加载所有页签-->
                        <!--<li class="active">
                            <a href="#panel-1" data-toggle="tab">项目信息</a>
                        </li>
                        <li>
                            <a href="#panel-2" data-toggle="tab">进度任务</a>
                        </li>
                        <li>
                            <a href="#panel-3" data-toggle="tab">资源使用</a>
                        </li>
                        <li>
                            <a href="#panel-4" data-toggle="tab">风险问题</a>
                        </li>
                        <li>
                            <a href="#panel-5" data-toggle="tab">文档管理</a>
                        </li>-->
                        <!--点击加载单个页签-->
                        <li class="active">
                            <a href="#panel-0" data-toggle="tab" @click="selectTab(1)">项目信息</a>
                        </li>
                        <li>
                            <a href="#panel-0" data-toggle="tab" @click="selectTab(2)">进度任务</a>
                        </li>
                        <li>
                            <a href="#panel-0" data-toggle="tab" @click="selectTab(3)">资源使用</a>
                        </li>
                        <li>
                            <a href="#panel-0" data-toggle="tab" @click="selectTab(4)">风险问题</a>
                        </li>
                        <li>
                            <a href="#panel-0" data-toggle="tab" @click="selectTab(5)">文档管理</a>
                        </li>
                    </ul>
                </div>


                <div class="btn-group btn-group-sm btn-group-right">
                    <button class="transparent-btn" type="button" title="通知">
                        <img :src="icon_Notice">
                    </button>
                    <button class="transparent-btn" type="button" title="工作日志" @click="location('log')">
                        <img :src="icon_Log">
                    </button>
                </div>


                <div class="tab-content col-md-12 column">
                  <!--初始化加载所有页签签-->
                  <!--  <div class="tab-pane active" id="panel-1">
                        &lt;!&ndash;项目信息&ndash;&gt;
                        <iframe scrolling="yes" frameborder="0"
                                style="width: 100%;overflow: visible; background: #fff;" :style="styleObj"
                                src="projInfo.html?projectID=projId" id="projectInfo" name="projectInfo">
                        </iframe>
                    </div>
                    <div class="tab-pane" id="panel-2">
                        &lt;!&ndash;进度任务&ndash;&gt;
                        <iframe scrolling="yes" frameborder="0"
                                style="width: 100%;overflow: visible; background: #fff;min-width: 1000px" :style="styleObj"
                                src="projProgress.html" id="projProgress" name="projProgress">
                        </iframe>
                    </div>
                    <div class="tab-pane" id="panel-3">
                        &lt;!&ndash;资源使用&ndash;&gt;
                        <p>
                            资源使用功能正在开发中...
                        </p>
                    </div>
                    <div class="tab-pane" id="panel-4">
                        &lt;!&ndash;风险问题&ndash;&gt;
                        <p>
                            风险问题功能正在开发中...
                        </p>
                    </div>
                    <div class="tab-pane" id="panel-5">
                        &lt;!&ndash;文档管理&ndash;&gt;
                        <iframe scrolling="yes" frameborder="0"
                                style="width: 100%;overflow: visible; background: #fff;min-width: 1000px" :style="styleObj"
                                src="fileMan.html" id="fileMan" name="fileMan">
                        </iframe>
                    </div>-->

                    <!--点击加载单个页签-->
                    <div class="tab-pane active" id="panel-0">
                        <iframe scrolling="yes" frameborder="0"
                                style="width: 100%;overflow: visible; background: #fff;min-width: 1000px" :style="styleObj"
                                :src="iframeSrc" :id="iframeId" :name="iframeName">
                        </iframe>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>


#parse("include/footer.html")
<script src="${rc.contextPath}/statics/js/projectManage/projectDetails.js?_${date.systemTime}"></script>

</body>
</html>