<!DOCTYPE html>
<html>
<head>
    <title>项目风险问题管理</title>
    #parse("include/header.html")
    <link rel="stylesheet" href="${rc.contextPath}/statics/css/projectManage/projRiskIssue.css">
</head>
<body>
<div id="dpLTE" class="clearfix" v-cloak>

    <div class="row">
        <div class="col-md-9 column form-inline pull-left">

            <div class="form-group">
                <select id="state" v-model="param.state" class="form-control" >
                    <option value="0" selected>未解决</option>
                    <option value="1">已解决</option>
                </select>
            </div>
            <div class="form-group">
                <input v-model="param.proposeStaff" class="form-control" placeholder="所有提出人" style="width: 100px;" />
            </div>
            <div class="form-group">
                <input v-model="param.onChargeStaff" class="form-control" placeholder="所有负责人" style="width: 100px;" />
            </div>
            <div class="form-group">
                <input v-model="param.startDate" class="form-control" placeholder="解决开始时间" style="width: 100px;" />
            </div>
            <div class="form-group">
                <input v-model="param.endDate" class="form-control" placeholder="解决结束时间" style="width: 100px;" />
            </div>
        </div>
        <div class="col-md-3 column">
            <div class="btn-toolbar pull-right display-flex" >
                <div class="btn-group search-div display-flex" :class="{'search-input':param.keyWord!==''?true:false}">
                    <input v-model="param.keyWord" @keyup.enter="load" class="form-control" placeholder="请输入查询关键字" />
                    <button class="transparent-btn" type="button" title="查询" @click="load" >
                        <img :src="icon_Search">
                    </button>
                </div>
                <button class="transparent-btn" type="button" title="新建"  @click="">
                    <img :src="icon_Add">
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <table id="dataGrid"></table>
    </div>

</div>
#parse("include/footer.html")
<script src="${rc.contextPath}/statics/js/projectManage/projRiskIssue.js?_${date.systemTime}"></script>
</body>
</html>