<!DOCTYPE html>
<html>
<head>
    <title>项目管理</title>
    #parse("include/header.html")
    <link rel="stylesheet" href="/statics/css/projectManage/projMan.css">
</head>
<body>


<div id="project" v-cloak>
    <div>
        <div class="col-md-12 column">
            <div class="tabbable" id="tabs-551353">

                <div class="col-md-12 column">
                    <div class="col-md-4 column">
                        <div class="btn-group dropdown-group">
                            <span style="margin: 7px 0;width: 200px">{{activeGroup.name}}</span>

                            <!--<div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu dropdown-group" role="menu">
                                    <ul class="dropdown-slimScroll column">
                                        <li v-for="group in groups">
                                            <a @click="selectGroup(group)" >{{group.name}}</a>
                                        </li>
                                        <li>
                                            <div class="divider"></div>
                                            <div class="subTitle" style="height: 20px;" @click="addGroup">创建项目组</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>-->
                            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li v-for="group in groups">
                                    <a @click="selectGroup(group)" >{{group.name}}</a>
                                </li>
                                <li>
                                    <div class="divider"></div>
                                    <div class="subTitle" style="height: 20px;" @click="addGroup">创建项目组</div>
                                </li>
                            </ul>


                        </div>
                    </div>
                    <div class="col-md-4 column">
                        <ul class="nav nav-tabs top-tabs">
                            <li class="active">
                                <a href="#subPanel" data-toggle="tab" @click="selectTab(1)">项目</a>
                            </li>
                            <li>
                                <a href="#subPanel" data-toggle="tab" @click="selectTab(2)">日程</a>
                            </li>
                            <li>
                                <a href="#subPanel" data-toggle="tab" @click="selectTab(3)">周报</a>
                            </li>
                            <li>
                                <a href="#subPanel" data-toggle="tab" @click="selectTab(4)">统计</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 column">
                        <div class="btn-toolbar pull-right display-flex">
                            <div class="btn-group search-div display-flex" :class="{'search-input':keyword!==''?true:false}">
                                <input v-model="keyword" @keyup.enter="query" class="form-control"
                                       placeholder="请输入查询关键字" />
                                <button class="transparent-btn" type="button" title="查询" @click="query" >
                                    <img :src="icon_Search">
                                </button>
                            </div>
                            <button class="transparent-btn" type="button" title="新建项目"  @click="addProject">
                                <img :src="icon_Add">
                            </button>
                            <div class="btn-group">
                                <button type="button" class="btn transparent-btn dropdown-toggle btn-lg"
                                        title="通知" data-toggle="dropdown">
                                    <img :src="icon_Notice">
                                    <span v-show="unReadNotice!==0" class="unread-num">{{unReadNotice}}</span>
                                </button>

                                <div class="dropdown-menu dropdown-notice" role="menu">
                                    <ul class="dropdown-slimScroll column">
                                        <li v-for="(notice,index) in noticeDate" class="notice-li">
                                            <div class="notice" @click="showNotice(notice)">
                                                <div class="display-flex">
                                                    <span :title="notice.noticeContent" class="notice-content">
                                                        {{index+1}}.&nbsp;{{notice.noticeContent}}
                                                    </span>
                                                    <span class="notice-date">{{notice.noticeDate}}&nbsp;</span>
                                                </div>
                                                <div class="divider"></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button class="transparent-btn" type="button" title="工作日志" @click="openWorkLog">
                                <img :src="icon_Log">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="tab-content col-md-12 column">
                    <div class="tab-pane active" id="subPanel">
                        <iframe scrolling="yes" frameborder="0"
                                style="width: 100%;overflow: visible; background: #fff;min-width: 1000px" :style="styleObj"
                                :src="iframeSrc" :id="iframeId" :name="iframeName">
                        </iframe>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!--新增所属项目组面板-->
    <div id="addGroupPanel" class="container-fluid" style="display: none;">
        <table class="form">
            <tr>
                <td class="formValue"><input class="form-control" v-model="groupName" placeholder="请输入新建的项目组名称！" /></td>
            </tr>
        </table>
    </div>

</div>
#parse("include/footer.html")
<script src="/statics/js/projectManage/projMan.js?_${date.systemTime}"></script>
</body>
</html>