<!DOCTYPE html>
<head>
    <title>项目管理</title>
    #parse("include/header.html")
    <link rel="stylesheet" href="/statics/css/projectManage/projMan.css">
</head>
<body>


<div id="project" class="container-fluid" v-cloak>
    <div>
        <div class="col-md-12 column">
            <div class="tabbable" id="tabs-551353">

                <div class="col-md-12 column">
                    <div class="col-md-4 column">
                        <div class="btn-group dropdown-group">
                            <span style="margin: 7px 0;">{{activeGroup.name}}</span>
                            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li v-for="group in groups">
                                    <a @click="selectGroup(group)" href="#">{{group.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 column">
                        <ul class="nav nav-tabs top-tabs">
                            <li class="active">
                                <a href="#subPanel" data-toggle="tab" @click="selectTab(1)">项目</a>
                            </li>
                            <li>
                                <a href="#subPanel" data-toggle="tab" @click="selectTab(2)">日程</a>
                            </li>
                            <li>
                                <a href="#subPanel" data-toggle="tab" @click="selectTab(3)">周报</a>
                            </li>
                            <li>
                                <a href="#subPanel" data-toggle="tab" @click="selectTab(4)">统计</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 column">
                        <div class="btn-toolbar pull-right display-flex">
                            <div class="btn-group search-div display-flex" :class="{'search-input':keyWord!==''?true:false}">
                                <input v-model="keyWord" @keyup.enter="load" class="form-control"
                                       placeholder="请输入查询关键字" />
                                <button class="transparent-btn" type="button" title="查询" @click="query" >
                                    <img :src="icon_Search">
                                </button>
                            </div>
                            <button class="transparent-btn" type="button" title="新建项目"  @click="location('add')">
                                <img :src="icon_Add">
                            </button>
                            <button class="transparent-btn" type="button" title="通知">
                                <img :src="icon_Notice">
                            </button>
                            <button class="transparent-btn" type="button" title="工作日志" @click="location('log')">
                                <img :src="icon_Log">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="tab-content col-md-12 column">
                    <div class="tab-pane active" id="subPanel">
                        <iframe scrolling="yes" frameborder="0"
                                style="width: 100%;overflow: visible; background: #fff;min-width: 1000px" :style="styleObj"
                                :src="iframeSrc" :id="iframeId" :name="iframeName">
                        </iframe>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
#parse("include/footer.html")
<script src="/statics/js/projectManage/projMan.js?_${date.systemTime}"></script>
</body>
