<!DOCTYPE html>
<head>
    <title>项目管理</title>
    #parse("include/header.html")
    <link rel="stylesheet" href="/statics/css/projectManage/projectList.css">
</head>
<body>


<div id="dpLTE" class="container-fluid" v-cloak>

    <div>
        <div class="col-md-12 column">
            <div class="tabbable" id="tabs-551353">

                <div class="col-md-12 column">

                    <div class="col-md-4 column">
                        <div class="btn-group dropdown-group">
                            <span style="margin: 7px 0;">{{activeGroup.name}}</span>
                            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li v-for="group in groups">
                                    <a @click="selectGroup(group)" href="#">{{group.name}}</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a @click="addGroup" href="#">新增项目组</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4 column">
                        <ul class=" nav nav-tabs top-tabs">
                            <li class="active">
                                <a href="#panel-766718" data-toggle="tab">项目</a>
                            </li>
                            <li>
                                <a href="#panel-59308" data-toggle="tab">日程</a>
                            </li>
                            <li>
                                <a href="#panel-48716" data-toggle="tab">周报</a>
                            </li>
                            <li>
                                <a href="#panel-37425" data-toggle="tab">统计</a>
                            </li>
                        </ul>
                    </div>


                    <div class="col-md-4 column">
                        <div class="btn-toolbar pull-right display-flex">
                            <div class="btn-group search-div display-flex" :class="{'search-input':keyWord!==''?true:false}">
                                <input v-model="keyWord" @keyup.enter="load" class="form-control"
                                       placeholder="请输入查询关键字" />
                                <button class="transparent-btn" type="button" title="查询" @click="query" >
                                    <img :src="icon_Search">
                                </button>
                            </div>
                            <button class="transparent-btn" type="button" title="新建项目"  @click="location('add')">
                                <img :src="icon_Add">
                            </button>
                            <div class="btn-group">
                                <button type="button" class="btn transparent-btn dropdown-toggle btn-lg"
                                        title="通知" data-toggle="dropdown">
                                    <img :src="icon_Notice">
                                    <span v-show="unReadNotice!==0" class="unread-num">{{unReadNotice}}</span>
                                </button>

                                <div class="dropdown-menu dropdown-notice" role="menu">
                                    <ul class="dropdown-slimScroll column">
                                        <li v-for="(notice,index) in noticeDate" class="notice-li">
                                            <div class="notice" @click="showNotice(notice)">
                                                <div class="display-flex">
                                                    <span :title="notice.noticeContent" class="notice-content">
                                                        {{index+1}}.&nbsp;{{notice.noticeContent}}
                                                    </span>
                                                    <span class="notice-date">{{notice.noticeDate}}&nbsp;</span>
                                                </div>
                                                <div class="divider"></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button class="transparent-btn" type="button" title="工作日志" @click="location('log')">
                                <img :src="icon_Log">
                            </button>
                        </div>
                    </div>

                </div>

                <div class="tab-content col-md-12 column">
                    <div class="tab-pane active" id="panel-766718">
                        <div class="clearfix">
                            <div class="col-md-1 column leftBar" :style="styleObject">
                                <div class="project-type-group">
                                    <div class="type-slimScroll">
                                        <ul class="column">
                                            <li v-for="type in types" class="row clearfix project-type" :class="{'active-step':(type.value===activeType.value)}">
                                                <a @click="selectType(type)" class="type-href" href="#">
                                                    <img :src="type.icon">
                                                    <br>
                                                    {{type.name}}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row clearfix operations">
                                    <div class="operation-icon-left" title="归档查询">
                                        <button class="transparent-btn">
                                            <img :src="icon_FileQuery" >
                                        </button>
                                    </div>
                                    <div class="operation-icon-right" title="编辑项目模版">
                                        <button class="transparent-btn">
                                            <img :src="icon_EditTemp" @click="editProjTemp" >
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-11 projGridPanel " :style="styleObject">
                                <div class="subTitle">{{activeType.name}}在线项目共有<span style="color:#dc6d67">{{length}}</span>个</div>
                                <div class="projGrid">
                                    <div class="project-slimScroll">
                                        <div v-for="project in projects" class="row clearfix projList"
                                             :class="{'active-project':(project.projId===activeProject.projId)}">
                                            <div class=" col-md-12 column">
                                                <div class="col-md-10 column projList-left" @click="showDetails( project )">
                                                    <div class="fa fa-archive fa-color"></div>
                                                    {{project.projName}}
                                                    <span class="subTitle">&nbsp;&nbsp;&nbsp;&nbsp;大项目经理：{{project.beloProjGroup}}</span>
                                                </div>
                                                <div class="col-md-2 column projList-right">
                                                    <div class="col-md-12 column task-info">
                                                        <span >
                                                            <a style="color: #d9534f;">风险项:{{project.riskItem}}</a>
                                                            &nbsp;|&nbsp;
                                                            <a style="color: #d9534f;">待处理任务:{{project.unFinishTask}}</a>
                                                        </span>
                                                    </div>
                                                    <div class="col-md-12 column complet-info">
                                                        <span>总体完成&nbsp;{{project.completRate?project.completRate:0}}%</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                    </div>
                                                </div>
                                            </div>
                                        <div class="col-md-12 column divider"></div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane" id="panel-59308">
                        <p>
                            日程功能正在开发中...
                        </p>
                    </div>
                    <div class="tab-pane" id="panel-48716">
                        <p>
                            周报功能正在开发中...
                        </p>
                    </div>
                    <div class="tab-pane" id="panel-37425">
                        <p>
                            统计功能正在开发中...
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--新增所属项目组面板-->
    <div id="addGroupPanel" class="container-fluid" style="display: none;">
        <table class="form">
            <tr>
                <!--<td class="formTitle">所属项目组名称:</td>
                <td class="formValue"><input class="form-control" v-model="" placeholder="所属项目组名称！" /></td>-->
            </tr>
        </table>
    </div>


</div>
#parse("include/footer.html")
<script src="/statics/js/projectManage/projectList.js?_${date.systemTime}"></script>

</body>