<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ffcs.dp.common.dao.FileManMapper">



	<!--查找上传文件列表-->
	<select id="getFileList" resultType="FileManEntity" parameterType="Map">
		select T.FILE_ID,
			   T.PROJ_ID,
			   T.FOLDER_ID,
               T.FILE_TYPE,
			   T.FILE_NAME,
			   T.FILE_PATH,
			   T.DESCRIPTION,
			   T.CREATOR,
			   U.USERNAME STAFF_NAME,
			   T.CREATE_DATE
		  from PMS_SYS_FILE_MANAGE T, PMS_SYS_USER U
		 where T.CREATOR = U.USER_ID
		<if test="fileType != null and '' != fileType">
			and T.FILE_TYPE = #{fileType}
		</if>
		<if test="fileId != null and '' != fileId">
			and T.FILE_ID = #{fileId}
		</if>
		<if test="folderId != null and '' != folderId">
		   and T.FOLDER_ID = #{folderId}
		</if>
		<if test="projId != null and '' != projId">
			and T.PROJ_ID = #{projId}
		</if>
		ORDER by T.FILE_ID
	</select>



	<!--根据项目编号查找文件夹列表 （包含项目步骤文件夹）-->
	<select id="getFolderListByProjId" resultType="FileManEntity" parameterType="Map">
		select S.STEP_ID        FILE_ID,
			   S.PROJ_ID,
			   T.STEP_NAME      FILE_NAME,
			   T.attach_content DESCRIPTION
		  from PMS_PROJ_STEP S, PMS_PROJ_TEMPLET_STEP T
		 where S.STEP_MOD = T.TEMP_STEP_ID
		<if test="projId != null and '' != projId">
		   and S.PROJ_ID = #{projId}
		</if>
		union all
		select F.FILE_ID, F.PROJ_ID, F.FILE_NAME, F.DESCRIPTION
		  from PMS_SYS_FILE_MANAGE F
		 where F.FILE_TYPE = '0'
		<if test="projId != null and '' != projId">
		   and F.PROJ_ID = #{projId}
		</if>
	</select>





	<!--添加文件夹-->
	<insert id="insertFolderInfo">
		<selectKey keyProperty="fileId" resultType="long" order="BEFORE">
			SELECT PMS_SYS_FILE_MANAGE_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		insert into PMS_SYS_FILE_MANAGE (FILE_ID,PROJ_ID,FILE_NAME,DESCRIPTION,FILE_TYPE,CREATOR,CREATE_DATE)
		values (#{fileId},#{projId},#{folderName},#{description},'0',#{userId},sysdate)
	</insert>


	<!--删除文件或目录-->
	<delete id="deleteFileMan" parameterType="Map">
		delete PMS_SYS_FILE_MANAGE where FILE_ID = #{fileId} or FOLDER_ID = #{fileId}
	</delete>



	<!--获取主键-->
	<select id="getFileManKey" resultType="long" >
		SELECT PMS_SYS_FILE_MANAGE_SEQ.NEXTVAL FROM DUAL
	</select>
	<insert id="insertFileInfo" >
		insert into PMS_SYS_FILE_MANAGE (FILE_ID,PROJ_ID,FOLDER_ID,FILE_NAME,FILE_PATH,DESCRIPTION,FILE_TYPE,CREATOR,CREATE_DATE)
		values (#{fileId},#{projId},#{folderId},#{fileName},#{filePath},#{description},#{fileType},#{userId},sysdate)
	</insert>


</mapper>