<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ffcs.dp.projectManage.dao.ProjManMapper">



	<select id="listProject" resultType="ProjManEntity" parameterType="Map">
		SELECT * FROM
			PMS_PROJECT_INFO
		WHERE
			PROJ_NAME LIKE '%'||#{projName}||'%'
	</select>



	<select id="getProjectById" resultType="ProjManEntity">

	</select>


	<insert id="save">

	</insert>


	<update id="update">

	</update>
	
	<delete id="batchRemove">

	</delete>

</mapper>